@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al Sistema de Stock!</h1>
    <p>Inicia sesión para acceder a tu panel de control.</p>
    <p>
        <a href="/Login/Index" class="btn btn-primary">Ir a Iniciar Sesión</a>
    </p>
</div>